<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="task.lt.mybatis.model.Driver" alias="Driver"/>
        <typeAlias type="task.lt.mybatis.model.Bus" alias="Bus"/>
        <typeAlias type="task.lt.mybatis.model.Ticket" alias="Ticket"/>
        <typeAlias type="task.lt.mybatis.model.Trip" alias="Trip"/>
        <typeAlias type="task.lt.mybatis.model.TripLog" alias="TripLog"/>
        <typeAlias type="task.lt.mybatis.model.DriverBus" alias="DriverBus"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="POOLED">
                <property name="data_source" value="DriversDataSource"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis.xml/DriverMapper.xml"/>
        <mapper resource="mybatis/xml/TripMapper.xml"/>
        <mapper resource="mybatis/xml/BusMapper.xml"/>
        <mapper resource="mybatis/xml/TicketMapper.xml"/>
        <mapper resource="mybatis/xml/DriverBusMapper.xml"/>
        <mapper resource="mybatis/xml/TripLogMapper.xml"/>
    </mappers>
</configuration>