<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="task.lt.mybatis.model.Pilot" alias="Pilot"/>
        <typeAlias type="task.lt.mybatis.model.Plane" alias="Plane"/>
        <typeAlias type="task.lt.mybatis.model.Ticket" alias="Ticket"/>
        <typeAlias type="task.lt.mybatis.model.Flight" alias="Flight"/>
        <typeAlias type="task.lt.mybatis.model.FlightLog" alias="FlightLog"/>
        <typeAlias type="task.lt.mybatis.model.PilotPlane" alias="PilotPlane"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="DriversDataSource"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis/xml/PilotMapper.xml"/>
        <mapper resource="mybatis/xml/FlightMapper.xml"/>
        <mapper resource="mybatis/xml/PlaneMapper.xml"/>
        <mapper resource="mybatis/xml/TicketMapper.xml"/>
        <mapper resource="mybatis/xml/PilotPlaneMapper.xml"/>
        <mapper resource="mybatis/xml/FlightLogMapper.xml"/>
    </mappers>
</configuration>